<!doctype html>
<html lang="en">
  <head>
    <!-- Angular Material style sheet -->
    <title>Colnote</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#009688">
    <link rel="icon" sizes="192x192" href="/res/logo-192.png">
    <!-- styles + css -->

    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.css">
    <link rel="stylesheet" href="/res/app/angular-material-sidenav.min.css">
    <link rel="stylesheet" href="/res/app/angular-material-datetimepicker.min.css">

    <!--
    <link rel="stylesheet" href="/res/app/libs.css">
    -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/1.4.57/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">
    <link rel="stylesheet" href="/app/dist/base.css">


    <!-- local -->
    <script src="/res/app/messageformat.min.js"></script>
    <!-- jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!-- socket.io -->
    <script src="//cdn.socket.io/socket.io-1.4.5.js"></script>
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular-messages.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular-messages.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular-sanitize.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular-cookies.min.js"></script>
    <!-- UI Router -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
    <!-- Angular Material Library -->
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.js"></script>
    <!-- Angular translate -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.9.0/angular-translate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-interpolation-messageformat/2.9.0/angular-translate-interpolation-messageformat.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-storage-cookie/2.9.0/angular-translate-storage-cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-loader-static-files/2.9.0/angular-translate-loader-static-files.min.js"></script>
    <!-- Youtube -->
    <script src="https://www.youtube.com/iframe_api"></script>

    <!--<script src="/res/app/libs.js"></script>-->

    <!-- Moment.JS for angular-meterial-datetimepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>

    <!-- own stuff -->
    <script src="/app/dist/templateCachePartials.js"></script>
    <script src="/app/dist/js/bundle.js"></script>
  </head>
  <body ng-app="colnote" ng-controller="AppCtrl as app" ng-class="{'body-overflow-hidden': app.navOpen}" ng-cloak>
      <div layout="row" style="min-height: 100%;" flex>
        <!-- side navigation -->
        <md-sidenav class="md-whiteframe-z3" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-is-open="app.navOpen">
          <md-toolbar>
            <h1 class="md-toolbar-tools sidebar-title">Colnote</h1>
          </md-toolbar>
          <md-content flex style="overflow: hidden;">
            <div layout-padding>{{app.user.name}}</div>
            <md-divider></md-divider>
            <form ng-submit="app.search()">
              <md-input-container class="sidebar-search">
                <input ng-model="app.searchQuery" type="text" placeholder="Search">
                <md-button class="md-icon-button" type="submit">
                  <md-icon md-font-set="material-icons">search</md-icon>
                </md-button>
              </md-input-container>
            </form>
            <ss-sidenav menu="app.menu" class="sidebar-menu"></ss-sidenav>
          </md-content>
        </md-sidenav>

        <!-- main content -->
        <md-content flex>
          <div layout="column" layout-align="top center">
            <!-- Main Toolbar -->
            <md-toolbar>
              <div class="md-toolbar-tools">
                <md-button ng-click="app.navOpen = !app.navOpen" class="md-icon-button" aria-label="Navigation" hide-gt-md>
                  <md-icon md-font-set="material-icons">menu</md-icon>
                </md-button>
                <h2>
                  <span translate="{{app.title}}"></span>
                </h2>
                <span flex></span>
                <md-menu md-target-mode="target-right target">
                  <md-button aria-label="More" class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="Menu">
                    <md-icon md-font-set="material-icons">more_vert</md-icon>
                  </md-button>
                  <md-menu-content width="3">
                    <a href="/logout">
                      <md-menu-item>
                        <md-button aria-label="Logout">
                          <div layout="row">
                            <span flex>Logout</span>
                            <md-icon md-font-set="material-icons">lock</md-icon>
                          </div>
                        </md-button>
                      </md-menu-item>
                    </a>
                  </md-menu-content>
                </md-menu>
              </div>
            </md-toolbar>
          </div>
          <div ui-view></div>
        </md-content>

      </div>

  </body>
</html>
