<!doctype html>
<!-- pinned lists -->
<div ng-if="dash.lists_pinned.length">
  <md-content layout-padding>
    <h1 translate="TITLE_LISTS_PINNED" class="main-title"></h1>
  </md-content>
  <div mosaic="list in dash.lists_pinned" class="columns-2-wide">
      <list-card-big list="list" show-actions="1"></list-card-big>
  </div>
</div>
<div style="clear: both;"></div>
<!-- user's lists -->
<md-content layout="row" layout-padding>
  <div flex><h1 translate="TITLE_LISTS" class="main-title"></h1></div>
  <div>
    <md-button class="md-fab" href="#/editlist/">
      <md-tooltip>add List</md-tooltip>
      <md-icon md-font-set="material-icons">add</md-icon>
    </md-button>
  </div>
</md-content>
<div>
  <div mosaic="list in dash.lists" class="columns-3">
    <list-card list="list" show-actions="1"></list-card>
  </div>
</div>
