<!doctype html>
<div layout-padding>
<md-content layout="column" class="layout-center-maxwidth">
  <form name="list">
    <h1 class="main-title">{{editlist.list.name || "new List"}}&nbsp;</h1>
    <md-input-container style="width: 100%;">
      <label>Name</label>
      <input name="listname" ng-model="editlist.list.name" required>
      <div ng-messages="list.listname.$error" ng-show="list.listname.$dirty">
        <div ng-message="required">Your List needs a name.</div>
      </div>
    </md-input-container>
    <hashtag-input tags="editlist.list.tags"></hashtag-input>
    <h2 class="md-display-2">Color</h2>
    <div layout="row" layout-wrap>
      <div class="colorchoice" ng-repeat="color in editlist.colors">
        <input type="radio" name=chosencolor ng-model="editlist.chosencolor" ng-value="$index" id="cbcolor{{$index}}">
        <label for="cbcolor{{$index}}" style="background-color: #{{color.long}};">
          <span>{{color.short}}</span>
        </label>
      </div>
    </div>
    <h2 class="md-display-2">Access</h2>
    <fieldset>
      <legend>Access control</legend>
      <md-checkbox ng-model="editlist.list.public" aria-label="public list">
        make this list public
      </md-checkbox>
      <br>
      <small>
        Settings this will allow your List to be publicly found and viewed by anyone. Those people still can't edit your list.
      </small>
      <br><br><br>
      <md-checkbox ng-model="editlist.list.viewlink" ng-disabled="editlist.editviewlinkdisabled" aria-label="create view link">
        create "view" link
      </md-checkbox>
      <br>
      <small>
        Creates a link that allows anyone who has it to view the list. Useful for sharing with friends, but beware: They can share it to your worst enemy!
      </small>
      <br><br><br>
      <md-checkbox ng-model="editlist.list.editlink" aria-label="create edit link">create "edit" link</md-checkbox>
      <br>
      <small>
        Creates a link that allows anyone who has it to edit the list. Useful for sharing with friends, but beware: They can share it to your worst enemy!
      </small>
    </fieldset>
    <br><br>
    <fieldset>
      <legend>individual users</legend>
      <md-autocomplete
          md-search-text="editlist.addname"
          placeholder="Username/e-mail"
          md-items="user in editlist.searchUsers(editlist.addname)"
          md-item-text="user.name">
        <md-item-template>
          <span md-highlight-text="editlist.addname" md-highlight-flags="^i">{{user.name}} - {{user.username}}</span>
        </md-item-template>
        <md-not-found>No matching user was found.</md-not-found>
      </md-autocomplete>
      <div layout="row" layout-align="center" layout-wrap>
        <md-button ng-click="editlist.adduser(1)">allow viewing</md-button>
        <md-button class="md-accent" ng-click="editlist.adduser(2)">allow viewing &amp; editing</md-button>
        <md-button class="md-warn" ng-click="editlist.adduser(3)">make admin</md-button>
      </div>
      <md-progress-linear md-mode="indeterminate" ng-show="editlist.adduser_loading"></md-progress-linear>
      
      <md-list>
        <md-subheader class="md-no-sticky">{{editlist.list.users.length}} added users</md-subheader>
        <md-list-item class="secondary-button-padding" ng-repeat="user in editlist.list.users">
          <p>
            <span ng-switch="user.permissions" style="padding-right: 6px;">
              <md-tooltip>{{'PERMISSIONS_'+user.permissions | translate}}</md-tooltip>
              <md-icon md-font-set="material-icons" ng-switch-when="3">build</md-icon>
              <md-icon md-font-set="material-icons" ng-switch-when="2">mode_edit</md-icon>
              <md-icon md-font-set="material-icons" ng-switch-default>remove_red_eye</md-icon>
            </span>
            {{user.name}} - <small>{{user.username}}</small>
          </p>
          <md-icon md-font-set="material-icons" class="md-secondary" ng-click="editlist.removeuser($index)">remove</md-icon>
        </md-list-item>
      </md-list>
    </fieldset>
  </form>
</md-content>
<div layout="column" layout-padding layout-align="end end" class="layout-center-maxwidth">
  <md-button class="md-accent md-fab" ng-click="editlist.save()">
    <md-icon md-font-set="material-icons">check</md-icon>
  </md-button>
</div>
</div>