<!doctype html>
<div layout="row" layout-padding style="background-color: #{{list.list.color;}}">
  <div flex><h1 class="main-title" style="color: White; font-weight: 400;">{{list.list.name}}</h1></div>
  <div ng-if="list.list.permissions>=3" style="padding: 0;">
    <md-button class="md-fab md-mini md-warn" ng-click="list.deleteList()" style="margin-top: 28px;">
      <md-tooltip>delete List</md-tooltip>
      <md-icon md-font-set="material-icons">delete</md-icon>
    </md-button>
    <md-button class="md-fab" href="#/editlist/{{list.list.id}}" style="margin-top: 24px;">
      <md-tooltip>edit List</md-tooltip>
      <md-icon md-font-set="material-icons">edit</md-icon>
    </md-button>
  </div>
</div>
<div layout="row" layout-padding layout-wrap class="taglist">
  <div ng-repeat="tag in list.list.tags track by $index" class="tag">
    <a ui-sref="search({query: '#'+tag})">#{{tag}}</a>
  </div>
</div>
<div layout="row" layout-padding layout-wrap>
  <div flex="100" flex-gt-xs="33">
    <h3 class="md-subhead" style="font-size: 90%; text-decoration: underline;">Admins</h3>
    <ul>
      <li ng-repeat="user in list.list.users" ng-if="user.permissions==3">
        <a ui-sref="user({id: user.id})">{{user.name}}</a>
      </li>
    </ul>
  </div>
  <div flex="100" flex-gt-xs="33">
    <h3 class="md-subhead" style="font-size: 90%; text-decoration: underline;">view &amp; edit</h3>
    <ul>
      <li ng-repeat="user in list.list.users" ng-if="user.permissions==2">
        <a ui-sref="user({id: user.id})">{{user.name}}</a>
      </li>
    </ul>
  </div>
  <div flex="100" flex-gt-xs="33">
    <h3 class="md-subhead" style="font-size: 90%; text-decoration: underline;">view only</h3>
    <ul>
      <li ng-repeat="user in list.list.users" ng-if="user.permissions==1">
        <a ui-sref="user({id: user.id})">{{user.name}}</a>
      </li>
    </ul>
  </div>
</div>
<div layout="row" layout-padding>
  <h2 class="md-headline">Cards</h2>
  <div flex></div>
  <md-button class="md-fab md-primary" ng-click="list.addCard($event)" ng-if="list.list.permissions>=2">
    <md-tooltip>create New Card</md-tooltip>
    <md-icon md-font-set="material-icons">add</md-icon>
  </md-button>
</div>
<div mosaic="card in list.list.cards" class="columns-3">
  <card card="card" permissions="list.list.permissions"
  open="list.openCard(card.id, action)" show-actions="1"></card>
</div>
