<!doctype html>
<md-content layout-padding>
  <h1 class="main-title">{{search.query}}</h1>
  <h2 class="md-headline">Lists</h2>
</md-content>
<div ng-if="true">
  <div mosaic="list in search.results.lists" class="columns-3">
    <list-card list="list" show-actions="1"></list-card>
  </div>
</div>
<div style="clear: both;"></div>

<md-content layout-padding>
  <h2 class="md-headline">Cards</h2>
</md-content>
<div>
  <div mosaic="card in search.results.cards" class="columns-3">
    <card card="card" permissions="1" show-actions="0"></card>
  </div>
</div>