.colorchoice {
  margin: 10px;
  label {
    display: table;
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 0px;
    text-align: center;
    &:hover {
      transform: scale(1.1);
    }
    transition: all 0.2s ease;
    span {
      display: table-cell;
      vertical-align: middle;
    }
  }
  input[type=radio] {
    display: none;
    &:checked + label {
      border-radius: 25px;
      transform: scale(1.3) rotate(-45deg);
    }
  }
}