.dc-listcardbig {
  @media #{$media-lt-md} {
    margin-left: 4px;
    margin-right: 4px;
  }
  md-card {
    margin: 4px;
  }
  md-card-content {
    padding: 0;
  }
  .card-title {
    box-shadow: 0 3px 5px -5px black;
  }
}