md-card-title>.card-notification {
  position: absolute;
  right: -6px;
  top: -6px;
  background: white;
  border-radius: 12px;
  .card-notification-icon {
    color: red;
  }
}

.list-card-title {
  color: white;
  .md-subhead.light {
    color: #eee;
  }
}

.lists-list {
  margin: 8px 0;
}

.card-dialog-card {
  margin: 0;
  md-card-title {
    background: #222;
    min-height: 45px;
    position: relative;
    .unsaved-changes-info {
      position: absolute;
      bottom: 8px;
      left: 72px;
      font-size: 90%;
      font-weight: 700;
      color: #f33;
    }
    .md-button.md-icon-button {
      position: relative;
      top: -5px;
      left: -5px;
      md-icon {
        color: white;
      }
    }
    md-input-container {
      margin: 0;
      input {
        font-size: 150%;
        color: white;
        border-width: 0;
      }
      .md-errors-spacer {
        display: none;
      }
    }
  }
}

@media #{$media-lt-md} {
  .dialog-card {
    .card-dialog-card {
      box-shadow: none;

    }
  }
}
