.mosaic {
  &::before {
    font-size: 0;
    visibility: hidden;
  }
  .column {
    float: left;
  }
}
.mosaic.columns-2 {
  &::before {
    content: '2';
    @media #{$media-xs} {
      content: '1'
    }
  }
  >.column {
    width: 50%;
    @media #{$media-xs} {
      width: 100%;
    }
  }
}
.mosaic.columns-2-wide {
  &::before {
    content: '2';
    @media #{$media-lt-md} {
      content: '1'
    }
  }
  >.column {
    width: 50%;
    @media #{$media-lt-md} {
      width: 100%;
    }
  }
}
.mosaic.columns-3 {
  &::before {
    content: '3';
    @media #{$media-sm} {
      content: '2'
    }
    @media #{$media-xs} {
      content: '1'
    }
  }
  >.column {
    width: 33.333%;
    @media #{$media-sm} {
      width: 50%;
    }
    @media #{$media-xs} {
      width: 100%;
    }
  }
}
