a {
  cursor: pointer;
}

.share-link {
  font-size: 80%;
  word-break: break-all;
  word-wrap: break-word;
}


.taglist {
  width: 100%;
  padding-top: 8px;
  >.tag {
    position: relative;
    border-radius: 50px;
    background-color: #ddd;
    margin: 0 8px 8px 0;
    padding: 4px 8px;
    &.removable {
      padding: 0 0 0 6px;
    }
    .md-icon-button {
      margin: 0;
    }
    md-icon.grey {
      color: rgba(0,0,0,0.54);
    }
  }
}

.main-title {
  font-size: 35px;
  font-weight: 100;
  letter-spacing: 0.03em;
}

.newlines {
  white-space: pre-wrap;
}