//media queries
$media-xs: "screen and (max-width:599px)";
$media-gt-xs: "screen and (min-width:600px)";
$media-sm: "screen and (min-width: 600px) and (max-width: 959px)";
$media-gt-sm: "screen and (min-width:960px)";
$media-lt-sm: "screen and (max-width:599px)";
$media-md: "screen and (min-width: 960px) and (max-width: 1279px)";
$media-gt-md: "screen and (min-width:1280px)";
$media-lt-md: "screen and (max-width:959px)";
$media-lg: "screen and (min-width: 1280px) and (max-width: 1919px)";
$media-gt-lg: "screen and (min-width:1920px)";
$media-lt-lg: "screen and (max-width:1279px)";
$media-xl: "screen and (min-width:1920px)";
$media-lt-xl: "screen and (max-width:1919px)";

@import "colorpicker", "forms", "text", "lists", "dc_listcardbig", "staggered_grid";


@media #{$media-lt-sm} {
  .body-overflow-hidden {
    overflow: hidden;
  }
}

md-menu-content>a, md-card>a {
  text-decoration: none;
  color: inherit;
}


md-card[md-ink-ripple].md-clickable {
  position: relative;
  transition: box-shadow 0.1s ease;
}
md-card[md-ink-ripple].md-clickable:active {
  box-shadow: 0 4px 5px -2px rgba(0,0,0,.2),0 7px 10px 1px rgba(0,0,0,.14),0 2px 16px 1px rgba(0,0,0,.12);
}

.md-card-title-list {
  color: white;
}

.layout-center-maxwidth {
  max-width: 716px;
  margin: 0 auto;
}

.sidebar-title {
  font-family: "Caveat", cursive, serif;
  font-size: 50px;
}

.sidebar-search {
  width: 100%;
  margin-left: 16px;
  padding-right: 60px;
  box-sizing: border-box;
  .md-button {
    position: absolute;
    right: 14px;
    top: 2px;
    left: auto;
  }
  .md-errors-spacer {
    display: none;
  }
}

.sidebar-menu {
  .mdi-read {
    color: green;
  }
  .mdi-information-outline {
    color: red;
  }
}
