<!doctype html>
<md-card>
  <a ng-click="$ctrl.open({ev:$event, action: 'open'})">
    <md-card-title md-ink-ripple style="position: relative; background: #222;">
      <md-card-title-text class="list-card-title">
        <span class="md-headline">{{$ctrl.card.title}}</span>
      </md-card-title-text>
    </md-card-title>
  </a>
  <md-card-content>
    <ul>
      <li ng-repeat="item in $ctrl.card.content" class="newlines">{{item.content}}</li>
    </ul>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center" ng-if="$ctrl.showActions">
    <md-button class="md-icon-button" ng-click="$ctrl.open({ev: $event, action: 'add_item'})" ng-if="$ctrl.permissions>=2">
      <md-tooltip>add Item</md-tooltip>
      <md-icon md-font-set="material-icons">add_box</md-icon>
    </md-button>
    <md-button class="md-icon-button" ng-click="$ctrl.delete()" ng-if="$ctrl.permissions>=2">
      <md-tooltip>delete Card</md-tooltip>
      <md-icon md-font-set="material-icons">delete</md-icon>
    </md-button>
  </md-card-actions>
</md-card>