<!doctype html>
<md-input-container class="md-block">
  <label>Tags</label>
  <input type="text" ng-model="$ctrl.input" ng-change="$ctrl.change()" ng-trim="false">
  <div layout="row" layout-wrap class="taglist">
    <div ng-repeat="tag in $ctrl.tags track by $index" class="tag removable">
      #{{tag}}
      <md-button class="md-icon-button" ng-click="$ctrl.remove($index)">
        <md-icon md-font-set="material-icons" class="grey">remove_circle</md-icon>
      </md-button>
    </div>
  </div>
</md-input-container>