<!doctype html>
<md-card class="dc-listcardbig">
  <a ui-sref="list({id: $ctrl.list.id})">
    <md-card-title md-ink-ripple style="position: relative; background: #{{$ctrl.list.color}};">
      <md-card-title-text class="list-card-title">
        <span class="md-headline">{{$ctrl.list.name}}</span>
        <span class="md-subhead light" translate="PERMISSIONS_{{$ctrl.list.permissions}}"></span>
      </md-card-title-text>
      <div style="width: 0; height: 0"></div>
    </md-card-title>
  </a>
  <md-card-content>
    <div mosaic="card in $ctrl.list.cards" class="columns-2">
      <md-card>
        <a ui-sref="list({id:card.listid,cardid:card.id})">
          <md-card-title class="card-title">
            <md-card-title-text>
              <span class="md-headline">{{card.title}}</span>
            </md-card-title-text>
          </md-card-title>
        </a>
        <md-card-content>
          <ul>
            <li ng-repeat="item in card.content" class="newlines">{{item.content}}</li>
          </ul>
        </md-card-content>
      </md-card>
    </div>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center" ng-if="$ctrl.showActions">
    <md-button class="md-icon-button" href="#/list/{{$ctrl.list.id}}?addcard" ng-if="$ctrl.list.permissions>=2">
      <md-tooltip>add Card</md-tooltip>
      <md-icon md-font-set="material-icons">add_box</md-icon>
    </md-button>
    <md-button class="md-icon-button" ng-click="$ctrl.delete({id:$ctrl.list.id})" ng-if="$ctrl.list.permissions>=3">
      <md-tooltip>delete List</md-tooltip>
      <md-icon md-font-set="material-icons">delete</md-icon>
    </md-button>
    <md-button translate="ACTION_LIST_UNPIN" ng-click="$ctrl.unpin({id:$ctrl.list.id})" aria-label="unpin List"></md-button>
  </md-card-actions>
</md-card>