<!doctype html>
<md-card>
  <a ui-sref="list({id: $ctrl.list.id})">
    <md-card-title md-ink-ripple style="position: relative; background: #{{$ctrl.list.color}};">
      <div class="card-notification" ng-if="$ctrl.list.unread_changes">
        <md-tooltip>unread Changes</md-tooltip>
        <md-icon md-font-set="material-icons" class="card-notification-icon">info</md-icon>
      </div>
      <md-card-title-text class="list-card-title">
        <span class="md-headline">{{$ctrl.list.name}}</span>
        <span class="md-subhead light" translate="PERMISSIONS_{{$ctrl.list.permissions}}"></span>
      </md-card-title-text>
      <div style="width: 0; height: 0"></div>
    </md-card-title>
  </a>
  <md-card-content>
    <md-list>
      <md-list-item ng-repeat="card in $ctrl.list.cards">
        <div class="md-list-item-text">
          - <a ui-sref="list({id: card.listid, cardid: card.id})">{{card.title}}</a>
        </div>
      </md-list-item>
    </md-list>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center" ng-if="$ctrl.showActions">
    <md-button class="md-icon-button" href="#/list/{{$ctrl.list.id}}?addcard" ng-if="$ctrl.list.permissions>=2">
      <md-tooltip>add Card</md-tooltip>
      <md-icon md-font-set="material-icons">add_box</md-icon>
    </md-button>
    <md-button class="md-icon-button" ng-click="$ctrl.delete()" ng-if="$ctrl.list.permissions>=3">
      <md-tooltip>delete List</md-tooltip>
      <md-icon md-font-set="material-icons">delete</md-icon>
    </md-button>
    <md-button ng-hide="$ctrl.list.pinned" translate="ACTION_LIST_PIN" ng-click="$ctrl.pin()" aria-label="pin List"></md-button>
    <md-button ng-hide="!$ctrl.list.pinned" translate="ACTION_LIST_UNPIN" ng-click="$ctrl.unpin()" aria-label="unpin List"></md-button>
  </md-card-actions>
</md-card>
