<!doctype html>
<md-dialog class="dialog-card" flex="60" ng-cloak>
  <md-card class="card-dialog-card">
    <md-card-title>
      <md-button class="md-icon-button" ng-click="close()">
        <md-tooltip>discard changes</md-tooltip>
        <md-icon md-font-set="material-icons">close</md-icon>
      </md-button>
      <md-card-title-text class="list-card-title">
        <md-input-container ng-if="permissions>=2">
          <input type="text" ng-model="card.title">
        </md-input-container>
        <div ng-if="permissions<2">{{card.title}}</div>
      </md-card-title-text>
      <div class="unsaved-changes-info" ng-show="unsavedChanges">unsaved changes</div>
    </md-card-title>
    <md-card-content flex>
      <md-list>
        <md-list-item ng-repeat="item in card.content" class="card-item" layout="row">
          <div ng-if="permissions>=2">
            <md-button class="md-icon-button" ng-click="deleteItem($index)">
              <md-icon md-font-set="material-icons">remove_circle_outline</md-icon>
            </md-button>
          </div>
          <div flex ng-hide="item.editing" ng-click="edit(item)" class="newlines">{{item.content}}</div>
          <md-input-container class="md-block" style="width: 100%; margin: 0;" ng-show="item.editing" ng-if="permissions>=2">
            <textarea md-maxlength="250" rows="7"
            ng-model="item.content" ng-blur="item.editing=false" request-focus="item.editing">
            </textarea>
          </md-input-container>
        </md-list-item>
      </md-list>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center" ng-if="permissions>=2">
      <md-button class="md-icon-button md-accent" ng-click="addItem()">
        <md-tooltip>add Item</md-tooltip>
        <md-icon md-font-set="material-icons">add_box</md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-click="delete()">
        <md-tooltip>delete Card</md-tooltip>
        <md-icon md-font-set="material-icons">delete</md-icon>
      </md-button>
      <md-button class="md-primary md-icon-button" ng-click="save()">
        <md-tooltip>save changes</md-tooltip>
        <md-icon md-font-set="material-icons">save</md-icon>
      </md-button>
    </md-card-actions>
  </md-card>
</md-dialog>