<!doctype html>
<html lang="en">
  <head>
    <!-- Angular Material style sheet -->
    <title>Colnote</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#009688">
    <link rel="icon" sizes="192x192" href="/res/logo-192.png">
    <!-- styles + css -->


    <link rel="stylesheet" href="/res/app/libs.css">


    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/1.4.57/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">
    <link rel="stylesheet" href="/app/dist/base.css">


    <!-- local -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/res/app/messageformat.min.js"></script>

    <script src="/res/app/libs.js"></script>

    <!-- own stuff -->
    <script src="/app/dist/templateCachePartials.js"></script>
    <script src="/app/dist/js/bundle.js"></script>
  </head>
  <body ng-app="colnote" ng-controller="AppCtrl as app" ng-class="{'body-overflow-hidden': app.navOpen}" ng-cloak>
      <div layout="row" style="min-height: 100%;" flex>
        <!-- side navigation -->
        <md-sidenav class="md-whiteframe-z3" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-is-open="app.navOpen">
          <md-toolbar>
            <h1 class="md-toolbar-tools sidebar-title">Colnote</h1>
          </md-toolbar>
          <md-content flex style="overflow: hidden;">
            <div layout-padding>{{app.user.name}}</div>
            <md-divider></md-divider>
            <form ng-submit="app.search()">
              <md-input-container class="sidebar-search">
                <input ng-model="app.searchQuery" type="text" placeholder="Search">
                <md-button class="md-icon-button" type="submit">
                  <md-icon md-font-set="material-icons">search</md-icon>
                </md-button>
              </md-input-container>
            </form>
            <ss-sidenav menu="app.menu" class="sidebar-menu"></ss-sidenav>
          </md-content>
        </md-sidenav>

        <!-- main content -->
        <md-content flex>
          <div layout="column" layout-fill layout-align="top center">
            <!-- Main Toolbar -->
            <md-toolbar>
              <div class="md-toolbar-tools">
                <md-button ng-click="app.navOpen = !app.navOpen" class="md-icon-button" aria-label="Navigation" hide-gt-md>
                  <md-icon md-font-set="material-icons">menu</md-icon>
                </md-button>
                <h2>
                  <span translate="{{app.title}}"></span>
                </h2>
                <span flex></span>
                <md-menu md-target-mode="target-right target">
                  <md-button aria-label="More" class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="Menu">
                    <md-icon md-font-set="material-icons">more_vert</md-icon>
                  </md-button>
                  <md-menu-content width="3">
                    <a href="/logout">
                      <md-menu-item>
                        <md-button aria-label="Logout">
                          <div layout="row">
                            <span flex>Logout</span>
                            <md-icon md-font-set="material-icons">lock</md-icon>
                          </div>
                        </md-button>
                      </md-menu-item>
                    </a>
                  </md-menu-content>
                </md-menu>
              </div>
            </md-toolbar>
          </div>
          <div ui-view></div>
        </md-content>

      </div>

  </body>
</html>
