<!doctype html>
<html>
  <head>
    <title>Colnote</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#009688">
    <link rel="icon" sizes="192x192" href="/res/logo-192.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.teal-yellow.min.css" />
    <link rel="stylesheet" href="/res/frontpage.css">
    <script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
  </head>
  <body>
    <section class="splash">
      <div class="colnote">
        <div class="left">
          <a href="/">Colnote</a>
        </div>
      </div>
      <img src="/res/logo.png" alt="Colnote" class="logo" />
      <h3>Collaborative Notes</h3>
      <h5>Don't keep your ideas to yourself!</h5>
      <div class="buttons">
          <a href="/login"
          class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
            Sign In
          </a>
          <span class="or">or</span>
          <a href="/signup"
          class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
            Sign Up
          </a>
      </div>
    </section>
    <!-- text and pictures -->
    <div class="ads">
      <div class="ad ad-1st">
        <div class="content">
          <h2>Simple Notes</h2>
          <p>
            Write notes just as easily as on a piece of paper.<br>
            But without worrying about where you left it.
          </p>
          <img src="/res/hand_notepad.jpg" alt="ad picture" />
        </div>
      </div>
        <div class="ad ad-2nd">
          <div class="content">
            <h2>Take it everywhere</h2>
            <p>
              Take notes on your Computer, watch how they sync instantly to your phone.<br>
              Keep Editing while on the go, via your smartphone.
            </p>
            <img src="/res/laptop.jpg" alt="ad picture" />
          </div>
        </div>
    </div>
  </body>
</html>
