<!doctype html>
<html>
  <head>
    <title>Colnote: Sign in</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#009688">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.teal-yellow.min.css" />
    <link rel="stylesheet" href="/res/frontpage.css">
    <link rel="icon" sizes="192x192" href="/res/logo-192.png">
    <script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
  </head>
  <body>
    <section class="splash">
      <div class="colnote">
        <div class="left">
          <a href="/">Colnote</a>
        </div>
      </div>
      <h2>Sign in</h2>
      <a href="/auth/google" class="signin-button">
        <img src="/res/btn_google_signin.png" alt="Sign in with Google" />
      </a>
      <a href="/auth/facebook" class="signin-button">
        <img src="/res/btn_facebook_signin.png" alt="Sign in with Facebook" />
      </a>

      <!-- show any messages that come back with authentication -->
      {{#if message }}
          <div>ERROR: {{message}}</div>
      {{/if}}

      <!-- LOGIN FORM -->
      <form action="/login" method="post">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input light" type="text" id="email" name="email" />
          <label class="mdl-textfield__label light" for="email">E-Mail</label>
        </div><br>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input light" type="password" id="password" name="password" />
            <label class="mdl-textfield__label light" for="password">Password</label>
          </div><br>
          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
            sign in
          </button>
      </form>
      <div class="signup-link">
        <span>Don't have an account?</span>
        <a href="/signup"
        class="mdl-button mdl-js-button mdl-button--colored mdl-js-ripple-effect">
          Sign Up
        </a>
      </div>
    </section>
  </body>
</html>
