<!doctype html>
<html>
  <head>
    <title>Colnote: Signup</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#009688">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.teal-yellow.min.css" />
    <link rel="stylesheet" href="/res/frontpage.css">
    <link rel="icon" sizes="192x192" href="/res/logo-192.png">
    <script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
  </head>
  <body>
    <section class="splash">
      <div class="colnote">
        <div class="left">
          <a href="/">Colnote</a>
        </div>
        <div class="right">
          <a href="/logout" class="logout mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
            Logout
          </a>
        </div>
      </div>
      <h2>Complete your Account</h2>

    <!-- show any messages that come back with authentication -->
    {{#if message}}
        <div>ERROR: {{message}}</div>
    {{/if}}

    <!-- SIGNUP FORM -->
    <form action="/setup" method="post">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input light" type="text" id="name" name="name" ng-value="name" />
        <label class="mdl-textfield__label light" for="name">Your Name</label>
      </div><br>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input light" type="text" id="username" name="username" ng-value="username" />
        <label class="mdl-textfield__label light" for="username">Unique username</label>
      </div><br>
      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
        Start Colnote
      </button>
    </form>
  </section>
</body>
</html>
