body {
  font-size: 16px;
}
.splash{
  text-align: center;
  color: white;
  padding-bottom: 64px;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 92%, rgba(0,0,0,0.2) 97%, rgba(0,0,0,0.5) 100%),
              linear-gradient(to bottom, rgba(0,150,136,1) 0%,rgba(125,185,232,0) 80%),
              repeating-linear-gradient(-55deg, #1b3936, #1b3936 10px, #184541 10px, #184541 20px);
  border-bottom: 20px solid #009688;
}
.splash .colnote {
  background: transparent;
  text-align: left;
  padding: 20px 20px 45px 20px;
  margin-bottom: 20px;
}
.splash .colnote .left a {
  font-family: 'Caveat', cursive;
  text-decoration: none;
  color: #f6f6f6;
  text-shadow: 0 0 35px black;
  font-weight: 100;
  font-size: 45px;
  transition: 0.2s text-shadow;
  will-change: text-shadow;
}
.splash .colnote .left a:hover {
  text-shadow: 0 0 50px black;
}
.splash .colnote .left {
  float: left;
}
.splash .colnote .right {
  float: right;
}
.splash .logo {
  width: 200px;
  height: 200px;
  -webkit-filter: drop-shadow(0 0 25px rgba(0,0,0,0.8));
}
.splash h5, .splash h4, .splash h3, .splash h2 {
  text-shadow: 0 0 30px rgba(255,255,255,0.7);
}
.splash h3, .splash h2 {
  color: white;
}
.splash h5, .splash h4 {
  color: lightgrey;
}
.splash .buttons {
  padding: 35px;
}

.or {
  margin: 0 30px;
}


.mdl-textfield__label.light {
  color: rgba(255,255,255,0.8);
}
.mdl-textfield__input.light {
  border-bottom-color: rgba(255,255,255,0.8);
}

.signin-button {
  text-decoration: none;
  display: inline-block;
  padding: 0;
  margin: 16px;
  border-radius: 2px;
  width: 185px;
  height: 40px;
}
.signin-button img {
  border-radius: 2px;
}
.signin-button:active {
  transform: translateY(-2px);
}
.signin-button:active {
  box-shadow: none;
}
.signup-link {
  margin: 16px;
}




/* ads */
.ads h2 {
  font-family: "Caveat", cursive;
  font-weight: 200;
  font-size: 40px;
  letter-spacing: 0.2em;
}
.ads p {
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #666;
}
@media only screen and (max-width:760px) {
  .ads p br {
    display: none;
  }
}
.ad {
  padding: 20px;
}
.ad .content {
  max-width: 800px;
  margin: 0 auto;
}
.ad:nth-child(odd) {
  background-color: #eee;
}
.ad img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}


.ad-1st {
  padding-bottom: 0;
}
.ad-1st img {
  margin-left: auto;
  margin-right: 0;
}
